In [3]:
import pandas as pd
import numpy as np
from google.cloud import storage
from io import BytesIO

try:
  from StringIO import StringIO
except ImportError:
  from io import BytesIO as StringIO

# connect to GCP account
# from google.colab import auth
# auth.authenticate_user()

# Define GCP Project
storage_client = storage.Client(project='delvedatasciencesandbox')
bucket_name='expedia_kaggle_max'

DefaultCredentialsError: Could not automatically determine credentials. Please set GOOGLE_APPLICATION_CREDENTIALS or explicitly create credentials and re-run the application. For more information, please see https://cloud.google.com/docs/authentication/getting-started

In [ ]:
#For read destinations.csv
bucket = storage_client.get_bucket(bucket_name)
blob = bucket.blob("destinations.csv")
content = blob.download_as_string()
destinations_df = pd.read_csv(BytesIO(content))

In [2]:
# destinations_df = pd.read_csv('../data/destinations.csv')

In [3]:
# Hotel clusters using Expedia in house hotel clustering algorithm
destinations_df.head()

,srch_destination_id,d1,d2,d3,d4,d5,d6,d7,d8,d9,...,d140,d141,d142,d143,d144,d145,d146,d147,d148,d149
0,0,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-1.897627,-2.198657,-2.198657,-1.897627,...,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657,-2.198657
1,1,-2.181690,-2.181690,-2.181690,-2.082564,-2.181690,-2.165028,-2.181690,-2.181690,-2.031597,...,-2.165028,-2.181690,-2.165028,-2.181690,-2.181690,-2.165028,-2.181690,-2.181690,-2.181690,-2.181690
2,2,-2.183490,-2.224164,-2.224164,-2.189562,-2.105819,-2.075407,-2.224164,-2.118483,-2.140393,...,-2.224164,-2.224164,-2.196379,-2.224164,-2.192009,-2.224164,-2.224164,-2.224164,-2.224164,-2.057548
3,3,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.115485,-2.177409,-2.177409,-2.177409,...,-2.161081,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409,-2.177409
4,4,-2.189562,-2.187783,-2.194008,-2.171153,-2.152303,-2.056618,-2.194008,-2.194008,-2.145911,...,-2.187356,-2.194008,-2.191779,-2.194008,-2.194008,-2.185161,-2.194008,-2.194008,-2.194008,-2.188037

In [ ]:
#For read test.csv
bucket = storage_client.get_bucket(bucket_name)
blob = bucket.blob("test.csv")
content = blob.download_as_string()
test_df = pd.read_csv(BytesIO(content))

In [ ]:
#Test set
test_df.head()

In [ ]:
#For read test.csv
bucket = storage_client.get_bucket(bucket_name)
blob = bucket.blob("train.csv")
content = blob.download_as_string()
train_df = pd.read_csv(BytesIO(content))

In [4]:
# train_df = pd.read_csv('../data/train.csv')

In [5]:
train_df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37670293 entries, 0 to 37670292
Data columns (total 24 columns):
date_time                    object
site_name                    int64
posa_continent               int64
user_location_country        int64
user_location_region         int64
user_location_city           int64
orig_destination_distance    float64
user_id                      int64
is_mobile                    int64
is_package                   int64
channel                      int64
srch_ci                      object
srch_co                      object
srch_adults_cnt              int64
srch_children_cnt            int64
srch_rm_cnt                  int64
srch_destination_id          int64
srch_destination_type_id     int64
is_booking                   int64
cnt                          int64
hotel_continent              int64
hotel_country                int64
hotel_market                 int64
hotel_cluster                int64
dtypes: float64(1), int64(20), object(3)
memory usage: 6.7+ GB

In [6]:
train_df['user_id'].nunique()

1198786

In [7]:
train_df['user_id'].value_counts()

1187360    530
1040395    501
124565     498
1043120    495
783124     491
96700      490
685462     485
908612     483
1011295    480
52390      479
564498     478
608596     476
1156323    475
21044      471
42680      471
1056941    469
333302     468
135838     468
734404     467
895871     467
254104     467
389311     466
73437      465
673372     464
1155930    462
1018826    462
103709     461
946838     460
169209     460
1186036    459
          ...
409759       2
372896       2
282192       2
674108       2
389651       2
1190099      2
197202       2
440294       2
445957       2
109219       2
1133149      2
704782       2
860051       2
1046528      2
1100994      2
922537       2
1119691      2
774051       2
970499       2
684403       2
489745       2
174786       2
346332       2
240354       2
471280       2
981025       2
669302       2
73844        2
909245       2
886682       2
Name: user_id, Length: 1198786, dtype: int64

In [8]:
train_df.head()

,date_time,site_name,posa_continent,user_location_country,user_location_region,user_location_city,orig_destination_distance,user_id,is_mobile,is_package,...,srch_children_cnt,srch_rm_cnt,srch_destination_id,srch_destination_type_id,is_booking,cnt,hotel_continent,hotel_country,hotel_market,hotel_cluster
0,2014-08-11 07:46:59,2,3,66,348,48862,2234.2641,12,0,1,...,0,1,8250,1,0,3,2,50,628,1
1,2014-08-11 08:22:12,2,3,66,348,48862,2234.2641,12,0,1,...,0,1,8250,1,1,1,2,50,628,1
2,2014-08-11 08:24:33,2,3,66,348,48862,2234.2641,12,0,0,...,0,1,8250,1,0,1,2,50,628,1
3,2014-08-09 18:05:16,2,3,66,442,35390,913.1932,93,0,0,...,0,1,14984,1,0,1,2,50,1457,80
4,2014-08-09 18:08:18,2,3,66,442,35390,913.6259,93,0,0,...,0,1,14984,1,0,1,2,50,1457,21

In [9]:
test_df = pd.read_csv('../data/test.csv')

In [10]:
test_df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2528243 entries, 0 to 2528242
Data columns (total 22 columns):
id                           int64
date_time                    object
site_name                    int64
posa_continent               int64
user_location_country        int64
user_location_region         int64
user_location_city           int64
orig_destination_distance    float64
user_id                      int64
is_mobile                    int64
is_package                   int64
channel                      int64
srch_ci                      object
srch_co                      object
srch_adults_cnt              int64
srch_children_cnt            int64
srch_rm_cnt                  int64
srch_destination_id          int64
srch_destination_type_id     int64
hotel_continent              int64
hotel_country                int64
hotel_market                 int64
dtypes: float64(1), int64(18), object(3)
memory usage: 424.4+ MB